@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-offset-6 col-md-6"></div>

<div class="container-fluid">
    <div class="row align-items-center">
        <div data-aos="flip-down" data-aos-delay="50" data-aos-duration="1000" class="col-md-6">
            <img class="img-fluid" style="max-width:100%;height: auto;" alt="Jolly Fellow" src="~/images/image1.png" />
        </div>
        <div class="col-md-6">
            <p>
                I was born and raised in <strong>Pondicherry</strong>, a small town on the Southeast coast of India. I spent the first twenty years of my life living there whilst getting educated. I completed my school education and my graduate degree in Pondicherry. The second 5 years of my life was a ride. I moved across 4 cities and 3 countries. I am not resentful of not having one set home to grow in. I loved traveling and starting over. Each new experience, good or bad, makes me more me.

            </p>
        </div>
    </div>
</div>



