@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class="text-center">
            <img src="https://pbs.twimg.com/profile_images/1215320666129358849/aIfZ6cqc_400x400.jpg" class="rounded-circle" alt="...">
        </div>

    </div>
