@{
    ViewData["Title"] = "Test Data";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-success" role="alert"><span><strong>Alert</strong></span></div>
            </div>
            <div class="col-md-3">
                <h1>Heading</h1>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Heading</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
